.mdl-grid {
  max-width: 1024px;
  margin: 20px auto;
}
.material-icons {
  font-size: 36px;
  top: 5px;
  position: relative;
}
.mdl-layout__header-row {
  padding: 0;
  margin: 0;
}
#save {
  width: 100%;
}
#notes-container {
  padding: 0;
  width: 100%;
}
.mdl-card {
  min-height: 0;
}
.message {
  font-size: 28px;
  line-height: 32px;
  font-weight: 200;
  padding-bottom: 30px;
}
.delete {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #bbb;
  font-size: 10px;
  height: 25px;
  line-height: 25px;
}
.delete:hover {
  color: inherit;
}
#notes-section-title {
  margin-top: 20px;
}
.mdl-card__supporting-text {
  background: linear-gradient(white, #f9f9f9);
}
